{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "routes": "./src/routes",
          "middlewares": "./src/middlewares",
          "controllers": "./src/controllers",
          "utils": "./src/utils"
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
